<section class="row">
  <div class="col-12 col-lg-12">
    <div class="card">
      <p>By:{{user.username}} On: {{format_date date_created}}</p>
      <div class="card-body">
        <p>{{title}}</p>
        <p>{{body}}</p>
      </div>
    </div>
  </div>
</section>